version: "3.9"
services:
  database:
    image: postgres
    container_name: movie-database
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      TZ: "Europe/Paris"

    networks:
      - movieNetwork
    volumes:
      - data:/var/lib/postgresql/data

networks:
  movieNetwork:

volumes:
  data:
